//Font Imports
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

//Fonts
$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Inter', sans-serif;

//Base Colors
$text: #eff9fb;
$background: #081e20;
$primary: #2fa7b6;
$secondary: #051314;
$accent: #2fa7b6;

//Hovered Colors
$hovered-text: #eff9fb;
$hovered-primary: #081e20;
$hovered-secondary: #eff9fb;
$hovered-accent: #081e20;

$error: #f12b5e;
$success: #04cb7d;