

//Base Colors
$text: rgb(239, 249, 251);
$background: #081e20;
$primary: #2fa7b6;
$secondary: #051314;
$accent: #2fa7b6;

//Hovered Colors
$hovered-text: #eff9fb;
$hovered-primary: #081e20;
$hovered-secondary: #eff9fb;
$hovered-accent: #081e20;
$hovered-background: #2fa7b6;

$error: #f12b5e;
$success: #04cb7d;